<% if @invitation.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@invitation.errors.count, "error") %> prohibited this invitation from being sent:</h2>
 
    <ul>
    <% @invitation.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<p>Invite a user to join your budget.</p>

<%= form_for @invitation, url: {action: "invite"} do |f| %>
  <%= f.label :invitee %>
  <%= f.text_field :invitee_email %>
  <%= f.submit "Invite" %>
<% end %>
